body {
  width:90%;
  margin:auto;
}

.header {
  display:flex;
  align-items: center;
  padding-bottom: 10px;
}

div.icone {
  height: 100%;
  vertical-align: middle;
}

.header div.icone img {
  max-width: 20px;
  max-height: 20px;
  padding: 10px;
}

div.descricao h1 {
  margin:0px;
  font-size: 1.2em;
  padding-top: 10px;
}

div.descricao h2 {
  margin:0px;
  font-size: 1em;
  font-weight: normal;
  font-family: monospace;
}

div.descricao p {
  margin:0px;
  font-size: .9em;
  font-style: italic;
  padding-bottom: 10px;
}

.header .menu {
  list-style-type: none;
  margin:0;
  padding:0;
}

.descricao {
  padding-right: 25px;
}

.header .menu li {
  display:inline;
}

.menu li img {
  height: 40px;
  padding:5px;
}

.tooltip {
  visibility:hidden;
  width:120px;
  top:60px;
  background-color: greenyellow;
  text-align:center;
  padding: 5px;
  border-radius:5px;
  position:absolute;
  z-index:1;
}

.opcao:hover img {
  background-color:greenyellow;
}

.opcao:hover .tooltip {
  visibility:visible;
}