.header {
  display:flex;
  align-items: center;
  padding: 20px 0px 20px 25px;
  background-color:yellow;
}

.descricao h1 {
  font-size: 1.2em;
}

.descricao h2 {
  font-family: monospace;
}

.descricao p {
  font-style: italic;
}

.menu {
  list-style-type: none;
  margin:0;
  padding:0;
  background-color:green;
}


.menu li {
  display:inline;
}

.menu li img {
  height: 40px;
  padding:5px;
}

.tooltip {
  visibility:hidden;
  width:120px;
  top:60px;
  background-color: greenyellow;
  text-align:center;
  padding: 5px;
  border-radius:5px;
  position:absolute;
  z-index:1;
}

.opcao:hover img {
  background-color:greenyellow;
}

.opcao:hover .tooltip {
  visibility:visible;
}