.cabecalho {
  display:flex;
  align-items: center;
  padding: 10px 0px 10px 25px;
  background: linear-gradient(to top, yellow, orange);
}

.descricao__titulo {
  font-size: 1.2em;
}

.descricao__copyright {
  font-family: monospace;
}

.descricao__texto {
  font-style: italic;
}

.menu {
  margin: 10px;
  padding: 10px;
}

.opcao {
  display:inline;
}

.opcao__icone {
  float: left;
  height: 60px;
  padding: 5px;
  border-radius: 10px;
}

.opcao__dica {
  display:flex;
  position:absolute;
  visibility:hidden;
  width:240px;
  top:115px;
  background-color: greenyellow;
  text-align:center;
  padding: 5px;
  border-radius:5px;
}

.opcao:hover .opcao__icone {
  background-color:greenyellow;
}

.opcao:hover .opcao__dica {
  visibility:visible;
}